* { /*Browser reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Width and height include padding and border*/
}
body{
    font-family: sans-serif;
    color: #333;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: $somecolor; /*It won't be the browser default blue anyway, so it makes sense to define it globally*/
}